<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Title</title>
</head>
<body>
<h1>this is contact page</h1>
<p>this is contact page bhai don't worry</p>
Lorem ipsum dolor sit amet, consectetur adipisicing elit. Aperiam debitis maiores minima odio odit optio placeat provident repellat. Adipisci assumenda autem beatae deleniti, dolore, dolorum ducimus fuga id ipsum iusto tempora veritatis! Accusamus aliquam cumque debitis delectus distinctio doloremque, fuga fugit libero magni perspiciatis porro quo repudiandae rerum sunt vitae.
</body>
</html>